* {
    margin: 0%;
    font-family: font-family: 'Open Sans', sans-serif;
}

/* header and navigatiion style  */
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: rgb(246, 72, 8);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
}

nav li {
    list-style: none;
    margin-left: 20px;
}

nav ul {
    display: flex;
    align-items: center;
}

.btn-primary {
    font-weight: 700;
    height: 65px;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    color: #fff7f1;
    background-color: #FD6E0A;
    padding: 18px 35px;
}

.banner {
    margin: 100px 200px;
    align-items: center;
    display: flex;

}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-subtitle {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 45px;
}

.banner-discription {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 15px;
}

.backgro {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/*  about section */
.about {
    margin-top: 150px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    margin-bottom: 100px;

}

.section-title {
    text-align: center;
    margin-bottom: 30px;

}

.section-discription {
    text-align: center;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-size: 20px;
    color: #757575;
}

.info-section {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
    /* skill section */
}

.skills-container {
    display: flex;
    gap: 25px;
}

.wht {
    margin-bottom: 100px;
    text-align: center;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.skill-description {
    font-weight: 400;
    font-size: 16px;
}

.sklill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

/* resume section */
.section-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    text-align: center;
    margin-top: 100px;
}

.resume-content {
    display: flex;
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    gap: 200px;
    margin-top: 50px;
}

.title {
    color: #757575;
    font-weight:700;
    font-size: 20px;
}
.batto{ text-align: center;
margin-top: 50px;}

.contact{ display: flex;
gap: 100px;
background-color:#FFF8F3;
padding: 130px 200px;}
.contact ,input, textarea{ margin-bottom: 24px;
border: 0;
width: 80%;
padding: 18px 30px;}
